@import '~bourbon/app/assets/stylesheets/_bourbon'

a
    color: #fff
    &:hover, &:focus
        text-decoration: none
    &.logo
        font-size: 1.414em !important
        font-family: 'bebas', sans-serif;
        letter-spacing: 1px
        font-weight: bold

.header
    display: flex
    span.spacer
        flex-grow: 1
    ul
        padding: 25px 0
        margin: 0
        li
            margin: 0
            padding: 0
        button
            color: #fff
            font-size: .707em
            &.join
                color: #333

