<header>
  <div class="col-md-8 col-md-offset-2">
    <md-toolbar class="toolbar">
      <a href="" class="logo text-uppercase">{{logoName}}</a>
      <span class="spacer"></span>
      <ul class="list-unstyled hidden-xs list-inline">
        <li>
          <button class="text-uppercase" md-button [routerLink]="['/']"> Our Scientists </button>
        </li>
        <li *ngIf="!authentication">
          <button class="text-uppercase join" appPaint md-raised-button [routerLink]="['new-scientist']" (click)="setRouterParam('new-scientist')"> join troop </button>
        </li>
        <li *ngIf="authentication">
          <button class="text-uppercase" appPaint md-button (click)="logout()"> Logout </button>
        </li>
      </ul>
      <div class="navigation visible-xs">
        <md-menu #appMenu="mdMenu">
          <button md-menu-item> Our Scientists </button>
          <button *ngIf="!authentication" appPaint md-menu-item [routerLink]="['/new-scientist']">
            join troop
          </button>
          <button *ngIf="authentication" class="text-uppercase" appPaint md-button (click)="logout()">
            Logout
          </button>
        </md-menu>
        <button md-icon-button [mdMenuTriggerFor]="appMenu">
         <md-icon>more_vert</md-icon>
        </button>
      </div>
    </md-toolbar>
  </div>
</header>
