<div class="row home-container">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-sm-4 list">
      <app-scientists-list></app-scientists-list>
      <button
        md-raised-button
        class="text-uppercase join"
        [routerLink]="['new-scientist']"
        appPaint
        (click)="setRouterParam('new-scientist')">join troop</button>
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-8 details">
      <app-scientists-details></app-scientists-details>
    </div>
  </div>
</div>
